<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
         <listener class-name="resources.listeners"/>
         <listener class-name="resources.ExtentReporterNG"/>
 </listeners>
  <test name="Training test case Number 1">
    <classes>
      <class name="TrainingTest1.Registration"/>
          </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
